html{
	margin:0;
	padding:0;
}


body{
	margin:0;
}


header{

	height:6em;
	background-color:#1cba76;
	padding-top:8%; /*única solución que he encontrado para "centrar" el título, pero no está centrado realmente */
}

.maintitle{

	max-width:60em;
	/*background-color:red;*/
	margin:auto;/*para centrarlo verticalmente, si ponemos position absolute al header y aquí relative se monta la liada padre*/

}


h1 {
font-family: Futura;
letter-spacing: .2em;
color: white;
text-align: center;
font-size: 1.5em;
line-height: 1.1;
padding: 0;
margin: 0;
}

h1 hr {

	width:15em;
}/*¿¿¿¿POR QUÉ ESTO NO FUNCIONA???!!!*/


.llarg{
	width:15em;
}

hr{
	width:10em;

	
}





main{
	max-width:1000px;
	margin:0 auto;
	

}

section{
	padding:0 1em;
}





h2{
	font-family:Futura;
	text-align:center;
	border-bottom:.15em solid #1cba76;
	padding:2em 0;
	margin-bottom:2em;
	color:#454545;


}

article{
	
	width:100%;
	display:inline-block;
	vertical-align:top;
	
}

article p{

	display:block;
	font-family: Helvetica,Arial,sans-serif;
	color:#454545;
}

article p a{
	color:#1cba76;
	text-decoration:none;

}


article p a:hover{
	background-color:#1cba76;
	text-decoration:none;
	color:white;
	
}

h3{
	
	font-family: Futura;
	color:#454545;

}











footer{

	width:100%;
	height:70px;
	background-color:#454545;
}


h5 a{
	font-family:Futura;
	color:#1cba76;
	text-decoration:none;
	float:right;
	font-size:1.5em;
	margin-right:3em;
}









